/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITY CLASSES */

/* VARAIBLES */
:root{
    --primaryBackground:white;
    --page-margin:24px;
    --spacing-01:8px;
    --spacing-02:24px;
    --spacing-03:16px;
    --primaryButtonfill: black;
    --primaryButtonText: white;
    --dividerFill:#e0e0e0;
    --max-content-width:1136px;
    --spacing-04:6px;
    --spacing-05:32px;
    --brand-green:#34e0a1;
    --spacing-06:64px;
    --spacing-07:12px;
    --stylecolor-01:#d4dff7;
    --stylecolor-02:#dcc8ff;
    --font-family-01:"Trip Sans VF", "Trip Sans", Arial, sans-serif;
    --fontsize-01:13px;
    --fontcolour-01:#301d49;
    --fontcolour-02:#9E9E9E;
    --fontsize-02:56px;
    --fontsize-03:25px;
    --stylecolor-03:#F2ECF8;
    --stylecolor-04:#E0E0E0;
    --spaceing-08:4px;
    --spaceing-09:0px;
    --spaceing-10:0.66667;
    --stylecolor-05:#FAF1ED;
    --stylecolor-06:#F2ECF8;
    --stylecolor-07:#FEF7E2;
    
}


/* GENERAL STYLES */

body{
    font-family:var(--font-family-01) ;
}
/* NAVBAR */
.container-1{
    margin-top: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--primaryBackground);
    z-index: 2;
    
}
.container-sub{
 padding-left: var(--page-margin);
 padding-right: var(--page-margin);
 padding-bottom: 10px;
 padding-top: 10px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.section-1{
    display: flex;
    justify-content: center;
    font-size: var(--spacing-02);
    height: 100%;
    position: relative;
    cursor: pointer;

}
.bx{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
}

.section-2{
    display: flex;
    height: 100%;
    max-width: 150px;
    align-items: center;
    
}
.section-2 img{
    display: inline-block;
    height: 100%;
    width: 100%;
    
}
.section-3{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}
.section-3__Icon {
    display: flex;
    margin: 0 calc(var(--spacing-03)* -1);
    gap: var(--spacing-03);
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.ef{

    padding: 10px;
    border-radius: 30px;
}
.ef:hover{
    background-color: rgb(187, 187, 187,0.2);
}
.uf:hover{
    opacity: 0.8;
    text-decoration: underline;
}

.section-5{
  margin-top: 10px;
  display: flex;
  gap: var(--spacing-01);
  align-items: end; 
  align-items: center; 
}
.section-5__button1{
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 10px;
    border-radius: 40px;
}
.bx{
    vertical-align: top;
    width:20px;
    height: 20px;
    text-align: center;
    margin-bottom: 5px;
    z-index: 1;

}
.line{
  background-color: var(--dividerFill);
  height: 22px;
  margin: 0 var(--spacing-01);
  width: 1px;
}

.section-5__button{

    background-color: var(--primaryButtonfill);
    color: var(--primaryButtonText);
    border-radius: 20px;
    padding: 10px 16px;
    display: inline-block;
    position: relative;

}
.section-5__button1:hover{
    background-color: #f1f1f1;
}
.button__text{
    font:16px / 20px ;
    flex-wrap: nowrap;
}
.section-6{
   display: flex;
   align-items: center;
   gap: var(--spacing-01); 
   width: var(--spacing-02);
   margin-top: 5px;
}
.bx{
    display: inline-block;
    font-size: var(--spacing-02);
    align-items: end;
}

/* Scroll Bar */
.container-2{
    display: flex;
    width: 100%;
    position: relative;
    text-align: center;
    flex-direction: row;
    margin: var(--spacing-05) 0 var(--spacing-03);

}
.container-sub2{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: flex-end;
}
.tap1{
    display: flex;
    align-items: center;
    gap: var(--spacing-01);
    background-color: none;
    border: none;
    margin-left: var(--page-margin);
    padding: var(--spacing-01) var(--spacing-01) 0;
    margin-right: var(--spacing-01);
    margin-top: var(--spacing-01);
    cursor: pointer;
    
}
.tap2,.tap3,.tap4,.tap5,.tap6{
    display: flex;
    align-items: center;
    gap: var(--spacing-01);
    background-color: none;
    border: none;
    margin-left: var(--spacing-04);
    padding: var(--spacing-01) var(--spacing-01) 0;
    margin-right: var(--spacing-01);
    margin-top: var(--spacing-01);
    cursor: pointer;
}
  /* Main bar */
  .slider-1{
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    background-color:var(--primaryBackground) ;
    text-align: left;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;


  }
  .search{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

  }
  .search_1{
    width: 90%;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 15px;
  }
  .search_1 input{
    width: 100%;
    border: none;
    font-size: inherit;
    outline: none;
    
  }
  .search_2{
    width: 90%;
    margin-top: 15px;
  }
  .search_2 button{
    background-color:var(--brand-green) ;
    color: var(--primaryButtonfill);
    border-radius: 24px;
    padding: 14px 24px;
    background-clip: padding-box;
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-weight: 400;

  }
  /* Main body */
  .container-3{
    margin-top: 45px;
    margin-bottom: var(--spacing-06);

  }
  .container-3__sub{
    display: flex;
    flex-direction: column-reverse;
  }
  .container-3__content{
    border-end-end-radius: var(--spacing-07);
    border-start-end-radius: var(--spacing-07);
    border-start-start-radius: var(--spacing-07);
    border-end-start-radius: var(--spacing-07);
  }
  .container-3__section-4{
   max-width: 100%;
   height: 230px;
   width: 330px;
   margin: auto;
   display: block;
   
  }
  .container-3__section-4 .one{
    object-fit: cover;
    overflow: clip;
    
  }
  
  
  .container-3__section-1{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: var(--spacing-01);
  }
  .part-1{
    padding: 4px;
  }
  .sc-1_title{
    font-weight: 600;
    font-family:var(--font-family-01);
    font-size: var(--fontsize-01);
    margin-right: var(--spacing-01);
    color:var(--fontcolour-01);
    
  }
  .part-2{
    background-color: var(--primaryBackground);
    padding: 4px 8px;
    color:var(--primaryButtonfill);
    border-radius: 4px;
    

  }
  .sc-1_subtitle{
    font-weight: 600;
    font-size: 12px;
  }
  .sc-2_title{
    color: var(--fontcolour-01);
    font-size: var(--fontsize-02);
    font-weight: 700;
    margin-bottom: var(--spacing-01); 
  }
  .sc-2_subtitle{
    font-size: var(--fontsize-03);
    color: var(--fontcolour-01);
    padding: 0px 10px 0px 10px;
  }
  .container-3__section-3{
    display: inline-block;
    margin-top: var(--spacing-02);
    color: var(--primaryBackground);
    background-color: var(--fontcolour-01);
    padding: 12px 20px 12px 20px;
    border-radius: 30px;
    
  }
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
  .bx{
    font-size: 20px;
    
  }

  /* sponsor card */
  .container-4{
     margin: calc(var(--spacing-06)* .5) 0;
  }
  .container-4__sub{
    display: flex;
    gap: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    background-color:var(--stylecolor-03) ;
  }
  .container-4__img{
    display: flex;
    justify-content: flex-start;
    min-width: 36%;
    max-width: 100%;
    max-height: 100%;
    width: 20%;
    height: 100%;

  }
  .container-4__img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  .container-4__content{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px;
    font-size: 15px;
  }
  .c4p-1{
    background-color:var(--stylecolor-04) ;
    color: var(--fontcolour-02);
    padding: 2px 1px 2px 1px;
    border-radius: 5px;
    font-size: small;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
  }
  .container-4__content  h2{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
  }
  .c4p-2{
    font-weight: 400;
    word-spacing: 5px;
    margin-top: 10px;
  }
  
  .container-4__content  button{
    text-decoration: none;
    color: var(--primaryButtonfill);
    font-weight: 600;
    background-color: var(--primaryButtonText);
    padding: 10px 25px 10px 25px;
    border-radius: 40px;
    margin: 20px auto;
   
  }
  /* Award - Winning */
  .container-5{
    margin-top:var(--spacing-06);
    padding: 10px;
    margin-bottom: var(--spacing-06);
  }
  .container-5_section-1 h2 {
    font-weight: 550;
    margin-bottom: 10px;

  }
  .container-5_section-1 p{

    opacity: 0.9;
  }
  
   .container-5_section-2{
    width: 100%;
    display: block;
    padding: 4px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-x: scroll;
    margin-top: 20px;
   }
  .c5-box1{
    border-radius: var(--spacing-06);
    position: relative;
    width: 230px;
    
  }
  .bx1_img img{
    width: 100%;
    border-radius: 20px;
    
  }
  .bx1-content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    font-size: 13px;
    font-weight:900;
    color: var(--primaryButtonText);
    text-shadow: 1px 1px 1px #000;
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 98%;
    opacity: 0;
    transition: 0.6s;
    border-radius: 20px;
  }
  .bx1-content:hover{
    opacity: 1;
  }
  /*Experiences */
  .container-6{
    margin-top:var(--spacing-06);
    padding: 10px;
    margin-bottom: var(--spacing-06);
  }
  .container-6_section-1 h2 {
    font-weight: 550;
    margin-bottom: 10px;

  }
  .container-6_section-1 p{

    opacity: 0.9;
  }
  .container-6_section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .c6-box1{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 230px;
    gap: 3px;
  }
 .icon{
  position: absolute;
  top: 4px;
  left: 187px;
 }
  .icon .bx{
    font-size: 35px;
    
  }
  
   .container-6_section-2{
    width: 100%;
    display: block;
    padding: 4px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-x: scroll;
    margin-top: 20px;


   }
   
  .c6-button{
    margin-top: 5px;
    width: 90px;
    padding: 2px 10px 2px 10px;
    background-color: var(--primaryButtonText);
    border-radius: 10px;
  }
  .c6-box1 h2{
    font-size: 18px;
    font-weight: 600;

  }
  .c6-box1 p{
    font-size: 14px;

  }
  .amount{
    font-size: 16px;
    font-weight: 400;
  }
  .c6-box1  img{
    border-radius: 20px;;
  }
  .c6-box1 img:hover{
    opacity: 0.7;
    transform: 2s;

  }
  /* more */
  .c7_img{
    width: 100%;
    display: block;
    padding: 4px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-x: scroll;
  }
  ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
  }
  .container-7{
    background-color: var(--stylecolor-05);
    padding: 20px;
    height: auto;
  }
  .container-7__sub{
    margin-top: 10px;
  }
  .c7-title{
    font-size: 25px;
    font-weight: 600;
  }
  .c7_image{
    width: 270px;
    height: 160px;
    border-radius: 20px;
    margin-top: 30px;
  }
  .c7_subtitle{
    margin-top:25px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
  
  }
  /* sponsor-2*/
  .container-8_section-2 img{
    width: 100%;
    
    
  }
  .container-8{
    background-color: var(--stylecolor-06);
    padding: 10px;
    width: 100%;
  }
  .container-8__sub{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
    
  }
  .container-8_section-1{
    display: flex;
    gap: 10px;
    
    
  }
  .c8-p{
    font-size: 15px;
    opacity: 0.8;
  }
 .c8-p img{
  width: 50px;
  margin-top: 10px;
 }
  .container-8_section-3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  .container-8_section-3 button{
    width: 120px;
    padding: 10px 15px 10px 15px;
    margin-left: 5px;
    background-color: var(--primaryButtonfill);
    color: var(--primaryButtonText);
    border-radius: 20px;
    margin-top: 10px;
    margin: 30px auto;

  }
  .container-8_section-3 button:hover{
    background-color: var(--primaryButtonText);
    color: var(--primaryButtonfill);
  }
  /* choice awards */
  .container-9{
    background-color:var(--stylecolor-07) ;
    margin-top: 70px;
    padding: 15px;
  }
  .container-9__sub{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 40px;
    position: relative;
  }
  .container-9_section-2{
    display: flex;
    background-image:url(image/tc_cards_2024_c04.png);
    background-repeat: no-repeat top;
    background-size: cover;
    height: 528px;
    padding-top: 8px;
    padding-left: 8px;
    justify-content: center;
    background-position: center;
    
  
  }
  .container-9_section-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 404px;
  }
  .container-9_section-1  h1{
    font-weight: 700;
    margin-bottom: 10px;

  }
  .container-9_section-1 img{
    width: 50px;
  }
  .container-9_section-1 button{
    width: 150px;
    padding:10px 20px;
    background-color: var(--primaryButtonfill);
    color: var(--primaryButtonText);
    border-radius: 20px;
    margin-top: 30px;
    font-weight: 700;
  }
  /* footer */
  .footer{
    background-color: var(--stylecolor-05);
    margin-top: 50px;
    padding: 15px;
    height: auto;

   
  }
  .footer_sub{
    padding: 10px;
  }
  .footer_section-1{
    display: flex;
    gap: 10px;
    font-size: 18px;
    opacity: 0.8;
    font-weight: 200;
    
  }
  .f_part-1,.f_part-2{
    line-height: 40px;
  }
  .footer_section-2{
    padding: 17px;
  }
  .form-1 input{
    width:100%;
    height: 30px;
    border-radius: 8px;
    font-size: inherit;
    font-weight: 700;
    padding: 0PX 15px;
    

  }
  .form-2 input{
    margin-top: 10px;
    width:100%;
    height: 30px;
    border-radius: 8px;
    font-size: inherit;
    font-weight: 700;
    padding: 0PX 15px;
  }
  .footer_section-3{
    display: flex;
    gap: 25px;
    float: right;
    padding: 15px;
  }
  .bx{
    font-size: 25px;
  }
  .footer_section-4{
    margin-top: 70px;
  }
  .f_logo img{
    width: 60px;
  }
  .f_box-1{
    display: flex;
  }
  .para-1{
    font-size: 14px;
    opacity: 0.7;
  }
  .para-2{
    margin-top: 10px;
    font-size: 17px;
    text-decoration: underline;
    font-weight: 600;
  }
  .f_end{
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.8;
  }
  .footer_section-5{
    display: none;
  }

/* Media Quariy */
@media screen and (min-width:468px) and (max-width:768) {
  .container-8__sub{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
    text-align: center;
  }
  .container-8_section-1{
    display: flex;
    gap: 10px;
    justify-content: center;
    
  }
  .container-8_section-3 button{
    margin: 30px auto;
  }
}
@media  screen and (min-width:468px) and (max-width:1024px) {
  .container-5_section-1{
    text-align: center;
  }
  .container-6_section-1{
    text-align: center;
  }
  .c6-box1{
    height: 400px;
  }
}
@media screen and (max-width:768px) {
    
    /* Scroll bar */
    .container-2{
        margin: var(--spacing-02) 0 var(--spacing-03);
    }

    /* Navbar */

    .section-3,.section-4,.section-5{
        display: none;
    }

    /* main bar */
    .slide{
        display: none;
    }
    .container-3__sub{
        text-align: center;
        background-image: linear-gradient(90deg,var(--stylecolor-01),var(--stylecolor-02));
        border-radius: var(--spacing-07);
    }
    .two{
        display: none;
      }
      /*sponsor card */
      .container-4{
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
      }
      .container-5{
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
      }
      .container-6{
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
      }
      .container-8{
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
      }
      .container-9{
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
      }

     /* sponsor-2 */
     .c8-p2{
      display: none;
     }
     /* footer */
      
    }  
    
@media screen and (min-width:768px) and (max-width:1023px) {
    /* Navbar */
    .section-2{
        margin-right: auto;
        margin-left: 25px;

    }
    .section-5__button1{
        display: none;
    }
    .section-6,.section-3{
        display: none;
    }
    /* Main bar */
    
    .topic-1__p{
        font-size: 20px;
       
    }  
    .container-4{
        display: none;
    }

   .container-8__sub{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
   }
   .c8-p{
    display: none;
   }
   .container-8_section-3{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-left: 30px;
    font-size: 20px;
   }
   .container-8_section-3 button {
    width: 150px;
    height: 50px;
    border-radius: 40px;

   }
   .container-8_section-2 img {
    width: 500px;

   }
   
   
  
}
@media screen and (min-width:768px) {
    /*sopnsor */
    .container-4{
        display: none;
    }
    /* Nvabar */

 .section-6{
    display: none;
 }
 .section-2{
    min-width: 200px;
 } 

 /* Scroll bar */  
 .container-2{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
 } 
 .tap1,.tap2,.tap3,.tap4,.tap5,.tap6{
    font-size: 20px;
 }

 /* Main bar */
 .slider{
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    width: calc(var(--max-content-width) + var(--page-margin)* 2);
    
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 15x;
}

figure{
    position: relative;
    left: 10;
    width: 400%; /* width dikali slide */
    animation: 30s slide infinite;
    
}

.slide{
    position: relative;
    width: 25%; /* width dibagi slide */
    float: left;
    
    
    
}
   
    
    

.topic-1__p{
    font-size: 20px;
   
}

.slide img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
.foot{
  border-radius: none
;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}
.slider-1{
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom:0;
    scroll-margin: none;
}
.search_1{
    display: flex;
    width: 100%;
    border-bottom: none;
    padding: none;
    margin-left: 10px;
    padding-top: 14px;
        
}
.search_2{
    display: flex;
    width: 15%;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-top: 0;
}

/* main body */
.container-3{
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
}
.container-3{
    background-image: linear-gradient(90deg,var(--stylecolor-01),var(--stylecolor-02));
    border-radius: var(--spacing-07);
}
.container-3__sub{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}

.container-3__section-4{
    width: 100%;   
}
 
.container-3__section-4{
    max-width: 100%;
    height: 230px;
    width: 330px;
    margin: auto;
    display: block;
    
   }
   .container-3__content{
    padding: 10px;
    margin-left: -50px;
   }
    .one{
        margin-top: 35px;
        width: 100%;
        margin-right: 20px;
    }

    .container-9__sub{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .container-9_section-2{
      background-position: 0;
      height: 600px;
      padding-top: 0;
      width: 761px;
      
    }
    .container-9_section-1 h1{
      font-weight: 900;
      font-size: 40px;
      font-family: "Trip Sans VF","Trip Sans",Arial,sans-serif;

    }
    .footer_section-2{
      display: flex;
      gap: 160px;
    }
    .form-2 input ,.form-1 input{
      margin-top: 0;
      width: 160%;
    }
  
   .tap1 p:hover{
    opacity: 0.8;

   }
   .tap2 p:hover{
    opacity: 0.8;

   }
   .tap3 p:hover{
    opacity: 0.8;

   }
   .tap4 p:hover{
    opacity: 0.8;

   }
   .tap5 p:hover{
    opacity: 0.8;

   }
    
    
 
  
}

 

@media screen and (min-width:1024px)  {
     .section-1{
        display: none;
    }
    .section-2{
        flex: 1;
    }
    .navbar{
      box-sizing: border-box;
        max-width: 100%;
        width: calc(var(--max-content-width) + var(--page-margin)* 2);
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
    }
    .container-2{
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
        
        
    }
    
    .container-3{
        display: flex;
        flex-direction: row;
        
    }
    /* award */
    .container-5{
      box-sizing: border-box;
            width: 100%;
            padding-left: 10px;
            padding-right: 18px;
            margin-left:  auto;
            margin-right: auto;
            
    
    }
    
    
   
    .icon .bx {
      display: none;
    }
    .c6-box1{
      height: 400px;
    }
    
    .container-8{
      box-sizing: border-box;
            width: 100%;
            padding-left: 10px;
            padding-right: 18px;
            margin-left:  auto;
            margin-right: auto;
            width: calc(var(--max-content-width) + var(--page-margin)* 2);
    }
    .container-8__sub{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .c8-p{
     display: none;
    }
    .container-8_section-3{
     display: flex;
     gap: 20px;
     justify-content: center;
     margin-left: 30px;
     font-size: 20px;
    }
    .container-8_section-3 button {
     width: 150px;
     height: 50px;
     border-radius: 40px;
     margin-right: 45%;
     margin-top: 50px;
 
    }
    .container-8_section-2 img {
     width: 500px;
 
    }
    .container-9{
      box-sizing: border-box;
      width: 100%;
      padding-left: 125px;
      padding-right: 18px;
      margin-left:  auto;
      margin-right: auto;
      width: calc(var(--max-content-width) + var(--page-margin)* 2);
      padding: 0;
    }
    .container-9_section-1{
      padding: 40px;
      
    }
    .footer{
      box-sizing: border-box;
      width: 100%;
      padding-left: 125px;
      padding-right: 18px;
      margin-left:  auto;
      margin-right: auto;
      width: calc(var(--max-content-width) + var(--page-margin)* 2);
      padding: 0;
    }
    .container-7__sub{
      box-sizing: border-box;
            width: 100%;
            padding-left: 10px;
            padding-right: 18px;
            margin-left:  auto;
            margin-right: auto;
            width: calc(var(--max-content-width) + var(--page-margin)* 2);
    }
    .container-6{
      box-sizing: border-box;
            width: 100%;
            padding-left: 10px;
            padding-right: 18px;
            margin-left:  auto;
            margin-right: auto;
            width: calc(var(--max-content-width) + var(--page-margin)* 2);
    }
    .footer{
      padding: 20px;
      height: auto;
    }
    .footer_section-5{
      display: flex;
      gap: 25px;
      opacity: 0.8;;
      
    }
    .f_sc-1{
       line-height: 35px;     
    }
    .footer_section-1{
      display: none;
    }
    .footer_section-2{
      display: flex;
      margin-left: 800px;
      gap: 0;
      
    }
    .form-1,.form-2{
      width: 30%;
      
    }
    .form-2{
      margin-left: 70px
    }
    .bx{
      margin-right: 20px;
    }
    .para-2{
      width: 800px;
      display: flex;
    }
    .footer_section-5 .f_sc-1:last-child{
      margin-left: 60px;
    }
    
    }


@media screen and (min-width:1185px){
    /* navbar */
    .navbar{
        box-sizing: border-box;
        max-width: 100%;
        width: calc(var(--max-content-width) + var(--page-margin)* 2);
    }
    main,header{
      margin-left:none;
    }

    .navbar{
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);
    }
    .section-3{
        margin-left: 20px;
    }
    /* Scroll bar */
    .container-2{
        box-sizing: border-box;
        width: 100%;
        padding-left: 55px;
        padding-right: 18px;
        margin-left:  auto;
        margin-right: auto;
        width: calc(var(--max-content-width) + var(--page-margin)* 2);
        top: 40px;
        

}
/* main bar */
.slider-1{
    margin-top: 65px;
}

/* main body */
.container-3{
    box-sizing: border-box;
        width: 100%;
        padding-left: 105px;
        padding-right: 18px;
        margin-left:  auto;
        margin-right: auto;
        width: calc(var(--max-content-width) + var(--page-margin)* 2);
        top: 40px;
}
/* award */
.container-5{
  box-sizing: border-box;
        width: 100%;
        margin-left:  auto;
        margin-right: auto;
        width: calc(var(--max-content-width) + var(--page-margin)* 2);
        top: 40px;

}

.c5-box1{
  width: 260px;
}
.container-6{
  box-sizing: border-box;
        width: 100%;
        margin-left:  auto;
        margin-right: auto;
        width: calc(var(--max-content-width) + var(--page-margin)* 2);
        top: 40px;

}

.c6-box1{
  width: 260px;
  
}
.c6-box1 img{
  width: 260px;
}

.c7_img{
  box-sizing: border-box;
    width: 100%;
    padding-left: 125px;
    padding-right: 18px;
    margin-left:  auto;
    margin-right: auto;
    width: calc(var(--max-content-width) + var(--page-margin)* 2);
    display: block;
    padding: 4px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-x: scroll;
}
.container-7__sub{
  box-sizing: border-box;
        width: 100%;
        padding-left: 10px;
        padding-right: 18px;
        margin-left:  auto;
        margin-right: auto;
        width: calc(var(--max-content-width) + var(--page-margin)* 2);
}

}